@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/helpers';

.home {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;

  .nameplate {
    font-family: $font-stack-primary;
    letter-spacing: .1em;
    text-transform: lowercase;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .nav-item {
    width: 100%;
    text-align: center;
  }

  a {
    font-family: $font-stack-secondary;
  }
}

footer {
  display: flex;
  justify-content: flex-end;

  p {
    font-family: $font-stack-secondary;
  }
}
