@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/helpers';

body {
  background-color: #f2f2f2;
}

.Home,
.Tracks {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: flex-start;

  .nameplate {
    font-family: $font-stack-primary;
    color: #0a1a1a;
    letter-spacing: .1em;
    text-transform: lowercase;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .nav-item {
    width: 60%;
    padding: 0 4rem;
    margin: 2rem 0;
    text-align: center;
    background-color: #0a1a1a;
    border-radius: 2px;
    transition: all 0.3s linear;

    @media screen and (max-width: 768px){
      color: #f2f2f2;
      font-size: 2rem;
    }

    &:hover,
    &:focus {
      color: #f2f2f2;
      padding: 0;
      border-radius: 4px;
    }
  }

  a {
    font-family: $font-stack-primary;
    font-size: 3rem;
    color: #0a1a1a;
    text-decoration: none;
  }
}

.listening-habits-container {
  display: flex;
  justify-content: space-between;
}

.tracks-container,
.album-chart-container {
  display: block;
  position: relative;
  max-height: 80vh;
  overflow: scroll;
  text-align: center;
  width: 50%;

  p {
    font-family: $font-stack-primary;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    padding: 1rem 2rem;
    margin: 2rem;
    background-color: #0a1a1a;
    border-radius: 2px;
    color: #f2f2f2;

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

footer {
  display: flex;
  justify-content: flex-end;

  a {
    font-family: $font-stack-primary;
    color: #0a1a1a;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
